@font-face {
    font-family: "BebasNeue";
    src: url("./BebasNeue.ttf");
}

@font-face {
    font-family: "Ice";
    src: url(./Ice.ttf);
}

.external-font{
    font-family: BebasNeue, sans-serif;
    font-size: 60px;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.small p:hover{
    font-size: 30%;
}

#main{
    background: url("./An.jpg");
    background-size: contain;
}

.mainbg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35%;
    background: rgba(255, 255, 255, 0.75);
    background-size: contain;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        margin-top: 50px;
    }
    to{
        opacity: 1;
    }
}

@keyframes Play{
    from{
        font-size: 300%;
    }
    to{
        font-size: 350%;
    }
}

#main-text{
    text-align: center;
    font-size: 350%;
    font-family: Ice;
    color: rgb(240, 97, 81);
    animation: Play 0.5s infinite;
    animation-direction: alternate;
}

.mainbg p{
    margin-top: 5px;
    text-align: center;
    font-size: 250%;
    font-family: BebasNeue;
}